################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BattleshipCodingTest/bin/Debug/net7.0
/BattleshipCodingTest/obj
/BattleshipCodingUnitTest/bin
/BattleshipCodingUnitTest/obj
